
input, select {
    margin-top: 5px;
    outline: none;
    padding: 10px;
}


button {
    margin-top: 20px;
    margin-left: 4px;
    padding: 10px;
}

.main_layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 100vh;
}

/* .list {
    display: flex;
} */

.list_element {
    margin: 4px;
    display: inline-block;
    border: 1px solid white;
    padding: 8px 16px;
    border-radius: 4px;
    flex-wrap: 5px;
}